page-tab-home {

  ion-buttons{
    padding-top: 10px !important;
  }


  ion-slides {
    height: 35vh;
  }

  ion-slide img {
    min-width: 100%;
  }

  ion-col button {
    height: 100px !important;
    background-color: #E65100 !important;
  }

  ion-col button ion-icon {
    font-size: 40px;
    display: block !important;
    margin-top: 25px;
    margin-bottom: 5px;
  }

  .button-inner {
    display: block !important;
  }

  .welcome{
    color: white
  }
}
